
<ion-header collapse="condense">
  <ion-toolbar>
    <ion-buttons slot="end" (click)="cerrarModal()">
      <ion-icon style="font-size:8vw ;" color="primary" name="close-outline"></ion-icon>
    </ion-buttons>
    <ion-title color="secondary">PQR's</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card-header>
    <ion-card-subtitle>{{ usuario.nombre }} {{ usuario.apellido }}</ion-card-subtitle>
    <ion-card-title> Radicados </ion-card-title>
  </ion-card-header>
  <ion-card-content >
    <ion-list *ngIf="radicados !== null && radicados.length" >
      <ion-item *ngFor="let radicado of radicados">
        <ion-avatar slot="start">
          <ion-icon style="font-size:8vw ;" color="tertiary" name="person-outline"></ion-icon>
        </ion-avatar>
        <ion-label>
          <h2>{{ radicado?.tipo }} </h2>
          <p> número de radicado :{{ radicado?.id_radicado}}</p>
          <p>{{ radicado?.contenido }}</p>
          <p>{{ radicado?.fecha_creacion | date : 'medium'}}</p>
        </ion-label>
      </ion-item>
    </ion-list>

    <ion-item  *ngIf="radicados !== null && !radicados.length">
      <ion-avatar slot="start">
        <ion-icon style="font-size:8vw ;" color="tertiary" name="person-outline"></ion-icon>
      </ion-avatar>
      <ion-label>
        <h2> {{radicados.contenido}} </h2>
        <p> número de radicado :{{ radicados.id_radicado}}</p>
        <p>{{ radicados.contenido }}</p>
        <p>{{ radicados.fecha_creacion | date : 'medium'}}</p>
      </ion-label>
    </ion-item>
  

  
  </ion-card-content>


</ion-content>
