
<ion-header collapse="condense">
  <ion-toolbar>
    <ion-buttons slot="end" (click)="cerrarModal()">
      <ion-icon style="font-size:8vw ;" color="tertiary" name="close-outline"></ion-icon>
    </ion-buttons>
    <ion-title color="tertiary">PQR's</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card-header>
    <ion-card-subtitle>{{ usuario.nombre }} {{ usuario.apellido }}</ion-card-subtitle>
    <ion-card-title> Radicados </ion-card-title>
  </ion-card-header>
  <ion-card-content >
    <ion-list lines="none" *ngIf="radicados !== null && radicados.length" >
     


      <ion-item-sliding  *ngFor="let radicado of radicados.reverse()">
        <ion-item>
          <ion-avatar slot="start">
            <ion-icon style="font-size:8vw ;" color="tertiary" name="bookmark-outline"></ion-icon>
          </ion-avatar>
          <ion-label>
            <h2>{{ radicado?.tipo }} </h2>
            <p> número de radicado :{{ radicado?.id_radicado}}</p>
            <p>{{ radicado?.contenido }}</p>
            <p>{{ radicado?.fecha_creacion | date : 'longDate'}}</p>
          </ion-label>
        </ion-item>

        <ion-item-options side="end">
          <ion-item-option color="primary" (click)="generarReclamo(radicado)"> generar reclamo</ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>

    <ion-item lines="none" *ngIf="radicados !== null && !radicados.length">
      <ion-avatar slot="start">
        <ion-icon style="font-size:8vw ;" color="tertiary" name="bookmark-outline"></ion-icon>
      </ion-avatar>
      <ion-label>
        <h2> {{radicados.contenido}} </h2>
        <p> número de radicado :{{ radicados.id_radicado}}</p>
        <p>{{ radicados.contenido }}</p>
        <p>{{ radicados.fecha_creacion | date : 'longDate'}}</p>
      </ion-label>
    </ion-item>
  

  
  </ion-card-content>


</ion-content>
